.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# macOS
.DS_Store

# editor
.vscode/

# gatsby
.cache/
.vscode/
node_modules/
public/
src/generated

# development config
/.env.development
