html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
}

h1 {
  margin: 0;
  margin-bottom: 1em;
}

.card {
  background-color: white;
  padding: 2%;
  display: inline-block;
  width: 28%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 2%;
}

.card:last-child {
  margin-right: 0;
}

.card strong {
  font-size: 3rem;
}

.nav {
  margin-bottom: 10px;
}

code,
.ms-Link {
  font-family: 'Consolas', monospace;
}

code {
  word-break: break-all;
}
